<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <form action="/flights/<%= flight %>/tickets" method="POST">
        <label>Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <label>Price:</label>
        <input type="number" name="price">
        <input type="submit" value="Add Ticket">
    </form>
</body>

</html>