<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= "MINOT INTL." %></h1>
    <p>WELCOME TO <%= "MINOT ND INTERNATIONAL FLIGHT STATUS BOARD" %></p>

<nav>
    <a href="/flights">All Flights</a>
    <a href="flights/new">Add Flight</a>
</nav>
  </body>
</html>