<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>New Flight</title>
</head>

<body>
  <form action="/flights" method="POST">
    <label>Airline
      <select name="airline">
        <option value="United" selected>United</option>
        <option value="American">American</option>
        <option value="Delta">Delta</option>
        <option value="Southwest">Southwest</option>
      </select>
    </label><br>
    <label>Airport:
      <select name="airport">
        <option value="ATL">Atlanta</option>
        <option value="DFW">Dallas</option>
        <option value="DEN" selected>Denver</option>
        <option value="LAX">Los Angeles</option>
        <option value="SAN">San Diego</option>
      </select>
    </label><br>
    <label>Flight Number:
      <input type="text" name="flightNo">
    </label><br>
    <label>departs:
      <input type="datetime-local" name="departs" />
    </label><br>
    <button type="submit">ADD THIS FLIGHT</button>
  </form>

</body>

</html>